In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [2]:
missing_values = df[df.isna().any(axis=1)]
print(missing_values)

     row_n       id     name  gender   species birthday personality  \
19      23    audie    Audie  female      wolf     8-31       peppy
103    124      cyd      Cyd    male  elephant      6-9      cranky
116    137      dom      Dom    male     sheep     3-18        jock
186    231     judy     Judy  female       cub     3-10      snooty
213    262    louie    Louie    male   gorilla     3-26        jock
230    286    megan    Megan  female      bear     3-13      normal
247    305      NaN      Nan  female      goat     8-24      normal
262    325    paolo    Paolo    male  elephant      5-5        lazy
298    370  raymond  Raymond    male       cat     10-1        smug
300    372  reneigh  Reneigh  female     horse      6-4        uchi
329    406    sherb    Sherb    male      goat     1-18        lazy
337    416    spike    Spike    male     rhino     6-17      cranky

           song      phrase           full_id  \
19          NaN     foxtrot    villager-audie
103         NaN     rockin'      villager-cyd
116         NaN  indeedaroo      villager-dom
186         NaN      myohmy     villager-judy
213         NaN       toots    villager-louie
230         NaN      sundae    villager-megan
247  K.K. Etude         kid      villager-nan
262         NaN         pal    villager-paolo
298         NaN       crisp  villager-raymond
300         NaN    ayup yup  villager-reneigh
329         NaN      bawwww    villager-sherb
337         NaN        punk    villager-spike

                                                   url
19   https://villagerdb.com/images/villagers/thumb/...
103  https://villagerdb.com/images/villagers/thumb/...
116  https://villagerdb.com/images/villagers/thumb/...
186  https://villagerdb.com/images/villagers/thumb/...
213  https://villagerdb.com/images/villagers/thumb/...
230  https://villagerdb.com/images/villagers/thumb/...
247  https://villagerdb.com/images/villagers/thumb/...
262  https://villagerdb.com/images/villagers/thumb/...
298  https://villagerdb.com/images/villagers/thumb/...
300  https://villagerdb.com/images/villagers/thumb/...
329  https://villagerdb.com/images/villagers/thumb/...
337  https://villagerdb.com/images/villagers/thumb/...

In [3]:
total_missing = df.isna().sum().sum()
print(total_missing)

12

In [4]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Get a concise summary of the DataFrame
df.info()

# Get descriptive statistics for numerical columns
print(df.describe())

# Get descriptive statistics for all columns
print(df.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000
             row_n       id     name gender species birthday personality  \
count   391.000000      390      391    391     391      391         391
unique         NaN      390      391      2      35      361           8
top            NaN  admiral  Admiral   male     cat     1-27        lazy
freq           NaN        1        1    204      23        2          60
mean    239.902813      NaN      NaN    NaN     NaN      NaN         NaN
std     140.702672      NaN      NaN    NaN     NaN      NaN         NaN
min       2.000000      NaN      NaN    NaN     NaN      NaN         NaN
25%     117.500000      NaN      NaN    NaN     NaN      NaN         NaN
50%     240.000000      NaN      NaN    NaN     NaN      NaN         NaN
75%     363.500000      NaN      NaN    NaN     NaN      NaN         NaN
max     483.000000      NaN      NaN    NaN     NaN      NaN         NaN

                song   phrase           full_id  \
count            380      391               391
unique            92      388               391
top     K.K. Country  wee one  villager-admiral
freq              10        2                 1
mean             NaN      NaN               NaN
std              NaN      NaN               NaN
min              NaN      NaN               NaN
25%              NaN      NaN               NaN
50%              NaN      NaN               NaN
75%              NaN      NaN               NaN
max              NaN      NaN               NaN

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

In [5]:
df.describe()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [6]:
df.columns

Index(['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality',
       'song', 'phrase', 'full_id', 'url'],
      dtype='object')

In [7]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.isna().sum()
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [8]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [9]:
https://copilot.microsoft.com/sl/b35WCONNCr6

SyntaxError: invalid syntax (2707883550.py, line 1)

In [1]:
print ('Observations refer to what each row represents in the dataset.')
print ('Variables refer to what each column represents in the dataset. ')
print ('In this context, observations provide information about each individual villager, while the variables represent specific characteristics, such as ID, name, gender, etc., one at a time.')

Observations refer to what each row represents in the dataset.
Variables refer to what each column represents in the dataset.
In this context, observations provide information about each individual villager, while the variables represent specific characteristics, such as ID, name, gender, etc., one at a time.

In [2]:
print('An attribute is a feature of an object that stores information about it. We can access an attribute without using parentheses. For example, df.shape is an attribute that gives the number of rows and columns in the data.')
print('A method is a function linked to an object that performs actions on it. Methods usually require parentheses to be used. For example, df.describe() is a method that calculates and returns summary statistics for a dataset.')

An attribute is a feature of an object that stores information about it. We can access an attribute without using parentheses. For example, df.shape is an attribute that gives the number of rows and columns in the data.
A method is a function linked to an object that performs actions on it. Methods usually require parentheses to be used. For example, df.describe() is a method that calculates and returns summary statistics for a dataset.